#background {
	-fx-background-image: url("tip02_full.jpg");
    -fx-background-size: cover;
}

#button {
    -fx-background-color: transparent;
    -fx-background-image: url("resources/menuButton.png");
    -fx-background-size: cover;
}

#dragMenu {
    -fx-background-color: transparent;
    -fx-background-image: url("resources/dragMenu.png");
    -fx-background-size: cover;
}

#circle{
    -fx-background-color: transparent;
    -fx-background-image: url("resources/wheelOfHours.png");
    -fx-background-size: cover;
}

#menuPane{
    -fx-background-color: rgba(0,0,0,0.5);
}