#background {
    -fx-background-image: url("resources/3.png");
    -fx-background-size: cover;
}

#button {
    -fx-background-color: transparent;
    -fx-background-image: url("resources/menuButton.png");
    -fx-background-size: cover;
}

#closeMenuButton{
    -fx-background-color: transparent;
    -fx-background-image: url("resources/closeButton.png");
    -fx-background-size: cover;
    -fx-opacity: 0.8;
}

#dragMenu {
    -fx-background-color: transparent;
    -fx-background-image: url("resources/dragMenu.png");
    -fx-background-size: cover;
}

#circle{
    -fx-background-color: transparent;
    -fx-background-image: url("resources/wheelOfHours.png");
    -fx-background-size: cover;
}

#infoPane{
    -fx-background-color: rgba(0,0,0,0.7);
}

.accordion .titled-pane .title{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}   

.accordion .titled-pane > *.content{
    -fx-background-color: transparent;
}

.accordion{
    -fx-box-border: transparent;
}

#menuPane, #subMenu{
    //-fx-background-color:transparent;
    -fx-background-color:black;
    -fx-opacity:0.8;    
}

#subMenu{
    -fx-background-size: 130 250;
}

.menuButton{
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.sep{
    -fx-opacity: 0.2;
}